.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 150px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 30px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 70%;
    text-align: center;
    font-size: 15px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415ff 106.28%);
    cursor: pointer;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #B415ff;
}
@media(max-width:768px){
    .hero img{
        margin-top: 100px;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    .hero h1{
       
        width: 90%;
        font-size: 40px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}
@media(max-width:430px){
    .hero img{
        margin-top: 50px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
    .hero h1{
        width: 85%;
        font-size: 15px;

    }
    .hero p{
        width: 80%;
        font-size: 12px;
        line-height: 20px;
        margin: 5px 0px;
    }
    .hero-action{
        gap: 12px;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .hero-connect{
        padding: 15px 25px;
        border-radius: 30px;
    }
    .hero-resume{
        padding: 15px 45px;
        border-radius: 30px;
    }

}