.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.logo {
    height: 60px;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-menu img{
    height: 10px;
    display: flex;
    margin: auto;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;

}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close {
    display: none !important; 
}
.nav-mob-open{
    display: none;
}
@media(max-width:768px){
    .navbar{
        margin: 20px 50px;

    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: absolute;
        right: 30px;
      
    }
    .nav-mob-close{
        display: block !important;
        position: absolute;
        top: 20px;
        left: 200px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 250px;
        height: 100%;
        z-index: 1000;
        transition: right 0.5s;
        right: -350px;
        padding-top: 60px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 50px;
        flex-direction: row;
        gap: 20px;
    }
}
@media(max-width:430px){
    .nav-menu li{
        font-size: 20px;
        padding-left: 70px;
    }
}